<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Control Panel">
    <title>tinyDragonPrey</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <script src="./static/controlPanel.js"></script>

  </head>
  <body>
    <main>
      <div class="containter">
        <div class="row justify-content-center gx-0 m-1 border border-dark border-1 rounded" id="master-panel">
          <div class="col mx-1  p-3" id="master-settings">
            <p class="text-center h4">Master Settings</p>
            <hr>
            <div class="row">
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="master-print-toggle">
                  <label class="form-check-label" for="master-print-toggle">print</label>
                </div>
              </div>
            
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="master-character-toggle">
                  <label class="form-check-label" for="master-character-toggle">special chars</label>
                </div>
              </div>
            
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="master-color-toggle">
                  <label class="form-check-label" for="master-color-toggle">color</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="master-color-shift-range" class="form-label">color shift</label>
                <input type="range" class="form-range w-75" min="0" max="255" step="1" id="master-color-shift-range" value="0">
                <span id="master-color-shift">0</span>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="master-shift-interval-range" class="form-label">interval</label>
                <input type="range" class="form-range w-50" min="25" max="2500" step="1" id="master-shift-interval-range" value="1000">
                <span id="master-shift-interval">1000</span>
              </div>
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="master-shift-interval-toggle">
                  <label class="form-check-label" for="master-shift-interval-toggle">retrigger</label>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="master-monitor-toggle">
                  <label class="form-check-label" for="mastet-monitor-toggle">monitor mode</label>
                </div>
              </div>
              <div class="col">
                <label for="master-channel-range" class="form-label">wifi channel</label>
                <input type="range" class="channel-range" min="1" max="13" step="1" id="master-channel-range" value="1">
                <span id="master-channel">1</span>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="master-channel-interval-range" class="form-label">interval</label>
                <input type="range" class="form-range w-50" min="25" max="2500" step="1" id="master-channel-interval-range" value="1000">
                <span id="master-channel-interval">1000</span>
              </div>
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="master-channel-interval-toggle">
                  <label class="form-check-label" for="master-channel-interval-toggle">retrigger</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col mx-1 border-dark border-1 border-start border-end p-3" id="master-message">
            <p class="text-center h4">Master Message</p>
            <div class="row justify-content-center">
              <div class="col">
                <textarea class="form-control" rows="3" name="message" id="master-message-content" placeholder="Send a message."></textarea>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <button class="btn btn-sm btn-outline-secondary my-1" id="master-message-button">send</button>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="master-message-interval-range" class="form-label">interval</label>
                <input type="range" class="form-range w-50" min="50" max="2500" step="1" id="master-message-interval-range" value="1000">
                <span id="master-message-interval">1000</span>
              </div>
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="master-message-interval-toggle">
                  <label class="form-check-label" for="master-message-interval-toggle">retrigger</label>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="master-message-flood-delay-range" class="form-label">delay</label>
                <input type="range" class="form-range w-50" min="0.00" max="5.0" step="0.00" id="master-message-flood-delay-range" value="1.0">
                <span id="master-message-flood-delay">1.0</span>
              </div>
              <div class="col">
                <label for="master-message-flood-count-range" class="form-label">count</label>
                <input type="range" class="form-range w-50" min="1" max="50" id="master-message-flood-count-range" value="10">
                <span id="master-message-flood-count">10</span>
              </div>
            </div>
            <div class="row justify-content-center text-center">
              <div class="col">
                <button class="btn btn-sm btn-outline-secondary my-1" id="master-message-flood-button">flood</button>
              </div>
            </div>
          </div>
          <div class="col mx-1 p-3" id="master-tone">
            <p class="text-center h4">Master Tone</p> 
            <div class="row justify-content-center text-center">
              <div class="col">
                <select class="form-select mb-1" id="master-shape-select" name="master-shape">
                  <option value="sine">sine</option>
                  <option value="tri">tri</option>
                  <option value="square">square</option>
                  <option value="random" selected>random</option>
                  <option value="noise">noise</option>
                </select>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="master-frequency-range" class="form-label">frequency</label>
                <input type="range" class="form-range w-75" min="10" max="10000" id="master-frequency-range" value="1000">
                <span id="master-frequency">1000</span>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="master-duration-range" class="form-label">duration</label>
                <input type="range" class="form-range w-75" min="2" max="8164" id="master-duration-range" value="500">
                <span id="master-duration">500</span>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="master-tone-interval-range" class="form-label">interval</label>
                <input type="range" class="form-range w-50" min="50" max="2500" step="1" id="master-tone-interval-range" value="1000">
                <span id="master-tone-interval">1000</span>
              </div>
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="master-tone-interval-toggle">
                  <label class="form-check-label" for="master-tone-interval-toggle">retrigger</label>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <button class="btn btn-sm btn-outline-secondary my-1" id="master-tone-button">beep</button>
              </div>
            </div>
            <hr>
            <div class="row align-items-center justify-content-center text-center">
              <div class="col-2">
                <select class="form-select mb-1" id="master-scan-mode-select" name="master-scan-mode">
                  <option value="-sS">-sS</option>
                  <option value="-sT" selected>-sT</option>
                  <option value="-sA">-sA</option>
                  <option value="-sX">-sX</option>
                </select>
              </div>
              <div class="col-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="master-scan-option-sy">
                  <label class="form-check-label" for="master-character-toggle">
                    sY
                  </label>
                </div>
              </div>
              <div class="col-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="master-scan-option-sz">
                  <label class="form-check-label" for="master-character-toggle">
                    sZ
                  </label>
                </div>
              </div>
              <div class="col-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="master-scan-option-sv">
                  <label class="form-check-label" for="master-character-toggle">
                    sV
                  </label>
                </div>
              </div>
              <div class="col-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="master-scan-option-sc">
                  <label class="form-check-label" for="master-character-toggle">
                    sC
                  </label>
                </div>
              </div>
              <div class="col-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="master-scan-option-o">
                  <label class="form-check-label" for="master-character-toggle">
                    O
                  </label>
                </div>
              </div>
              <div class="col-1">
                <button class="btn btn-sm btn-outline-secondary my-1" id="master-nmap-button">nmap</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center gx-1 my-1" id="individual-panel">

          <!-- PREY 0 CONTROL PANEL -->
          <div class="col mx-1 border border-dark border-1 rounded p-3" id="prey-0">
            <p class="text-center h4" id="prey0-title">Prey 0</p>
            <hr>
            <div class="row">
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey0-print-toggle">
                  <label class="form-check-label" for="prey0-print-toggle">print</label>
                </div>
              </div>
            
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey0-character-toggle">
                  <label class="form-check-label" for="master-character-toggle">special chars</label>
                </div>
              </div>
            
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey0-color-toggle">
                  <label class="form-check-label" for="prey0-color-toggle">color</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="prey0-color-shift-range" class="form-label">color shift</label>
                <input type="range" class="form-range w-75" min="0" max="255" step="1" id="prey0-color-shift-range" value="0">
                <span id="prey0-color-shift">0</span>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey0-shift-interval-range" class="form-label">interval</label>
                <input type="range" class="form-range w-50" min="25" max="2500" step="1" id="prey0-shift-interval-range" value="1000">
                <span id="prey0-shift-interval">1000</span>
              </div>
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey0-shift-interval-toggle">
                  <label class="form-check-label" for="prey0-shift-interval-toggle">retrigger</label>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey0-monitor-toggle">
                  <label class="form-check-label" for="prey0-monitor-toggle">monitor mode</label>
                </div>
              </div>
              <div class="col">
                <label for="prey0-channel-range" class="form-label">wifi channel</label>
                <input type="range" class="channel-range" min="1" max="13" step="1" id="prey0-channel-range" value="1">
                <span id="prey0-channel">1</span>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey0-channel-interval-range" class="form-label">interval</label>
                <input type="range" class="form-range w-50" min="25" max="2500" step="1" id="prey0-channel-interval-range" value="1000">
                <span id="prey0-channel-interval">1000</span>
              </div>
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey0-channel-interval-toggle">
                  <label class="form-check-label" for="prey0-channel-interval-toggle">retrigger</label>
                </div>
              </div>
            </div>
            <hr>
            <div class="row justify-content-center">
              <div class="col">
                <textarea class="form-control" rows="3" name="message" id="prey0-message-content" placeholder="Send a message."></textarea>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <button class="btn btn-sm btn-outline-secondary my-1" id="prey0-message-button">send</button>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey0-message-interval-range" class="form-label">interval</label>
                <input type="range" class="form-range w-50" min="50" max="2500" step="1" id="prey0-message-interval-range" value="1000">
                <span id="prey0-message-interval">1000</span>
              </div>
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey0-message-interval-toggle">
                  <label class="form-check-label" for="prey0-message-interval-toggle">retrigger</label>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey0-message-flood-delay-range" class="form-label">delay</label>
                <input type="range" class="form-range w-50" min="0.00" max="5.0" step="0.00" id="prey0-message-flood-delay-range" value="1.0">
                <span id="prey0-message-flood-delay">1.0</span>
              </div>
              <div class="col">
                <label for="prey0-message-flood-count-range" class="form-label">count</label>
                <input type="range" class="form-range w-50" min="1" max="50" id="prey0-message-flood-count-range" value="10">
                <span id="prey0-message-flood-count">10</span>
              </div>
            </div>
            <div class="row justify-content-center text-center">
              <div class="col">
                <button class="btn btn-sm btn-outline-secondary my-1" id="prey0-message-flood-button">flood</button>
              </div>
            </div>
            <hr>
            <div class="row justify-content-center text-center">
              <div class="col">
                <select class="form-select mb-1" id="prey0-shape-select" name="prey0-shape">
                  <option value="sine">sine</option>
                  <option value="tri">tri</option>
                  <option value="square">square</option>
                  <option value="random" selected>random</option>
                  <option value="noise">noise</option>
                </select>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey0-frequency-range" class="form-label">frequency</label>
                <input type="range" class="form-range w-75" min="10" max="10000" id="prey0-frequency-range" value="1000">
                <span id="prey0-frequency">1000</span>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey0-duration-range" class="form-label">duration</label>
                <input type="range" class="form-range w-75" min="2" max="8164" id="prey0-duration-range" value="500">
                <span id="prey0-duration">500</span>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey0-tone-interval-range" class="form-label">interval</label>
                <input type="range" class="form-range w-50" min="50" max="2500" step="1" id="prey0-tone-interval-range" value="1000">
                <span id="prey0-tone-interval">1000</span>
              </div>
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey0-tone-interval-toggle">
                  <label class="form-check-label" for="prey0-tone-interval-toggle">retrigger</label>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <button class="btn btn-sm btn-outline-secondary my-1" id="prey0-tone-button">beep</button>
              </div>
            </div>
          </div>

          <!-- PREY 1 CONTROL PANEL -->
          <div class="col mx-1 border border-dark border-1 rounded p-3" id="prey-1">
            <p class="text-center h4" id="prey1-title">Prey 1</p>
             <hr>
            <div class="row">
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey1-print-toggle">
                  <label class="form-check-label" for="prey1-print-toggle">print</label>
                </div>
              </div>
            
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey1-character-toggle">
                  <label class="form-check-label" for="master-character-toggle">special chars</label>
                </div>
              </div>
            
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey1-color-toggle">
                  <label class="form-check-label" for="prey1-color-toggle">color</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="prey1-color-shift-range" class="form-label">color shift</label>
                <input type="range" class="form-range w-75" min="0" max="255" step="1" id="prey1-color-shift-range" value="0">
                <span id="prey1-color-shift">0</span>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey1-shift-interval-range" class="form-label">interval</label>
                <input type="range" class="form-range w-50" min="25" max="2500" step="1" id="prey1-shift-interval-range" value="1000">
                <span id="prey1-shift-interval">1000</span>
              </div>
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey1-shift-interval-toggle">
                  <label class="form-check-label" for="prey1-shift-interval-toggle">retrigger</label>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey1-monitor-toggle">
                  <label class="form-check-label" for="prey1-monitor-toggle">monitor mode</label>
                </div>
              </div>
              <div class="col">
                <label for="prey1-channel-range" class="form-label">wifi channel</label>
                <input type="range" class="channel-range" min="1" max="13" step="1" id="prey1-channel-range" value="1">
                <span id="prey1-channel">1</span>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey1-channel-interval-range" class="form-label">interval</label>
                <input type="range" class="form-range w-50" min="25" max="2500" step="1" id="prey1-channel-interval-range" value="1000">
                <span id="prey1-channel-interval">1000</span>
              </div>
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey1-channel-interval-toggle">
                  <label class="form-check-label" for="prey1-channel-interval-toggle">retrigger</label>
                </div>
              </div>
            </div>
            <hr>
            <div class="row justify-content-center">
              <div class="col">
                <textarea class="form-control" rows="3" name="message" id="prey1-message-content" placeholder="Send a message."></textarea>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <button class="btn btn-sm btn-outline-secondary my-1" id="prey1-message-button">send</button>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey1-message-interval-range" class="form-label">interval</label>
                <input type="range" class="form-range w-50" min="50" max="2500" step="1" id="prey1-message-interval-range" value="1000">
                <span id="prey1-message-interval">1000</span>
              </div>
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey1-message-interval-toggle">
                  <label class="form-check-label" for="prey1-message-interval-toggle">retrigger</label>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey1-message-flood-delay-range" class="form-label">delay</label>
                <input type="range" class="form-range w-50" min="0.00" max="5.0" step="0.00" id="prey1-message-flood-delay-range" value="1.0">
                <span id="prey1-message-flood-delay">1.0</span>
              </div>
              <div class="col">
                <label for="prey1-message-flood-count-range" class="form-label">count</label>
                <input type="range" class="form-range w-50" min="1" max="50" id="prey1-message-flood-count-range" value="10">
                <span id="prey1-message-flood-count">10</span>
              </div>
            </div>
            <div class="row justify-content-center text-center">
              <div class="col">
                <button class="btn btn-sm btn-outline-secondary my-1" id="prey1-message-flood-button">flood</button>
              </div>
            </div>
            <hr>
            <div class="row justify-content-center text-center">
              <div class="col">
                <select class="form-select mb-1" id="prey1-shape-select" name="prey1-shape">
                  <option value="sine">sine</option>
                  <option value="tri">tri</option>
                  <option value="square">square</option>
                  <option value="random" selected>random</option>
                  <option value="noise">noise</option>
                </select>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey1-frequency-range" class="form-label">frequency</label>
                <input type="range" class="form-range w-75" min="10" max="10000" id="prey1-frequency-range" value="1000">
                <span id="prey1-frequency">1000</span>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey1-duration-range" class="form-label">duration</label>
                <input type="range" class="form-range w-75" min="2" max="8164" id="prey1-duration-range" value="500">
                <span id="prey1-duration">500</span>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey1-tone-interval-range" class="form-label">interval</label>
                <input type="range" class="form-range w-50" min="50" max="2500" step="1" id="prey1-tone-interval-range" value="1000">
                <span id="prey1-tone-interval">1000</span>
              </div>
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey1-tone-interval-toggle">
                  <label class="form-check-label" for="prey1-tone-interval-toggle">retrigger</label>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <button class="btn btn-sm btn-outline-secondary my-1" id="prey1-tone-button">beep</button>
              </div>
            </div>
          </div>

          <!-- PREY 2 CONTROL PANEL -->
          <div class="col mx-1 border border-dark border-1 rounded p-3" id="prey-2">
            <p class="text-center h4"  id="prey2-title">Prey 2</p>
            <hr>
            <div class="row">
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey2-print-toggle">
                  <label class="form-check-label" for="prey2-print-toggle">print</label>
                </div>
              </div>
            
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey2-character-toggle">
                  <label class="form-check-label" for="master-character-toggle">special chars</label>
                </div>
              </div>
            
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey2-color-toggle">
                  <label class="form-check-label" for="prey2-color-toggle">color</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="prey2-color-shift-range" class="form-label">color shift</label>
                <input type="range" class="form-range w-75" min="0" max="255" step="1" id="prey2-color-shift-range" value="0">
                <span id="prey2-color-shift">0</span>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey2-shift-interval-range" class="form-label">interval</label>
                <input type="range" class="form-range w-50" min="25" max="2500" step="1" id="prey2-shift-interval-range" value="1000">
                <span id="prey2-shift-interval">1000</span>
              </div>
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey2-shift-interval-toggle">
                  <label class="form-check-label" for="prey2-shift-interval-toggle">retrigger</label>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey2-monitor-toggle">
                  <label class="form-check-label" for="prey2-monitor-toggle">monitor mode</label>
                </div>
              </div>
              <div class="col">
                <label for="prey2-channel-range" class="form-label">wifi channel</label>
                <input type="range" class="channel-range" min="1" max="13" step="1" id="prey2-channel-range" value="1">
                <span id="prey2-channel">1</span>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey2-channel-interval-range" class="form-label">interval</label>
                <input type="range" class="form-range w-50" min="25" max="2500" step="1" id="prey2-channel-interval-range" value="1000">
                <span id="prey2-channel-interval">1000</span>
              </div>
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey2-channel-interval-toggle">
                  <label class="form-check-label" for="prey2-channel-interval-toggle">retrigger</label>
                </div>
              </div>
            </div>
            <hr>
            <div class="row justify-content-center">
              <div class="col">
                <textarea class="form-control" rows="3" name="message" id="prey2-message-content" placeholder="Send a message."></textarea>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <button class="btn btn-sm btn-outline-secondary my-1" id="prey2-message-button">send</button>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey2-message-interval-range" class="form-label">interval</label>
                <input type="range" class="form-range w-50" min="50" max="2500" step="1" id="prey2-message-interval-range" value="1000">
                <span id="prey2-message-interval">1000</span>
              </div>
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey2-message-interval-toggle">
                  <label class="form-check-label" for="prey2-message-interval-toggle">retrigger</label>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey2-message-flood-delay-range" class="form-label">delay</label>
                <input type="range" class="form-range w-50" min="0.00" max="5.0" step="0.00" id="prey2-message-flood-delay-range" value="1.0">
                <span id="prey2-message-flood-delay">1.0</span>
              </div>
              <div class="col">
                <label for="prey2-message-flood-count-range" class="form-label">count</label>
                <input type="range" class="form-range w-50" min="1" max="50" id="prey2-message-flood-count-range" value="10">
                <span id="prey2-message-flood-count">10</span>
              </div>
            </div>
            <div class="row justify-content-center text-center">
              <div class="col">
                <button class="btn btn-sm btn-outline-secondary my-1" id="prey2-message-flood-button">flood</button>
              </div>
            </div>
            <hr>
            <div class="row justify-content-center text-center">
              <div class="col">
                <select class="form-select mb-1" id="prey2-shape-select" name="prey2-shape">
                  <option value="sine">sine</option>
                  <option value="tri">tri</option>
                  <option value="square">square</option>
                  <option value="random" selected>random</option>
                  <option value="noise">noise</option>
                </select>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey2-frequency-range" class="form-label">frequency</label>
                <input type="range" class="form-range w-75" min="10" max="10000" id="prey2-frequency-range" value="1000">
                <span id="prey2-frequency">1000</span>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey2-duration-range" class="form-label">duration</label>
                <input type="range" class="form-range w-75" min="2" max="8164" id="prey2-duration-range" value="500">
                <span id="prey2-duration">500</span>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <label for="prey2-tone-interval-range" class="form-label">interval</label>
                <input type="range" class="form-range w-50" min="50" max="2500" step="1" id="prey2-tone-interval-range" value="1000">
                <span id="prey2-tone-interval">1000</span>
              </div>
              <div class="col">
                <div class="d-inline-block form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="prey2-tone-interval-toggle">
                  <label class="form-check-label" for="prey2-tone-interval-toggle">retrigger</label>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col">
                <button class="btn btn-sm btn-outline-secondary my-1" id="prey2-tone-button">beep</button>
              </div>
            </div>
          </div>


        </div>
      </div>
    </main>
  </body>
</html>
