[connection]
id={{interface}}
type=wifi
autoconnect=false
interface-name={{interface}}

[wifi]
band=bg
channel={{channel}}
mode=ap
ssid={{ssid}}

{% if password %}[wifi-security]
key-mgmt=wpa-psk
psk={{password}}
pairwise=ccmp;
group=ccmp;
proto=rsn;
{% endif %}

[ipv4]
address1={{ip_address}}/24
gateway={{ip_address}}
method=shared

[ipv6]
addr-gen-mode=default
method=ignore

[proxy]
